.background{
    background-image: url(../../../assets/background1.jpg);
    background-size:cover;
    height: 100vh;
    
}
.mat-card{
    height: 95%;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
mat-form-field{
    width: 80%;
}
img{
    height: 100px;
    width: 150px;
}
button{
    width: 80%;
    outline: none;
}