.background{
    background-image: url(../../../assets/background1.jpg);
    background-size:cover;
    height: 100vh;
    
}
mat-card{
    height: 95%;
    width: 35%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
img{
    height: 100px;
    width: 150px;
}
h1{
    font-weight: bold;
    font-size: 30px;
    
}
mat-form-field{
    width: 80%;   
}
a{
    margin-left: 90px;
    text-decoration: none;
    color: black;
}
button{
    width: 80%;
    outline: none;
}
hr{
    width: 80%;
}
form{
    text-align: center;
}
